In [1]:
## Dependencies and Setup
import pandas as pd

## File to Load
schoolFile = "Resources/schools_complete.csv"
studentFile = "Resources/students_complete.csv"

## Read School and Student Data File and store into Pandas DataFrames
schoolData = pd.read_csv(schoolFile)
studentData = pd.read_csv(studentFile)

## Combine the data into a single dataset.  
schoolStuMerge = pd.merge(studentData, schoolData, how="left", on=["school_name", "school_name"])
schoolStuMerge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
## Calculate all values for future data frame

## First calculate the number of schools and students in the data set
schoolCount = len(schoolData)
studentCount = len(studentData)
display("Unique School Count: ",schoolCount,"Unique Student Count: ",studentCount)

'Unique School Count: '

15

'Unique Student Count: '

39170

In [3]:
##Get the total budget across the schools

## create a new data frame for the budget data and sum the values in the budget column
budgetTotal = schoolData["budget"].sum()

display("Total budget: ",budgetTotal)

'Total budget: '

24649428

In [4]:
## Calculate the average scores for math and reading across all students

mathScoreAvg = schoolStuMerge["math_score"].mean()
readingScoreAvg = schoolStuMerge["reading_score"].mean()
display("Average math score:",mathScoreAvg,"Average reading score: ",readingScoreAvg)

'Average math score:'

78.98537145774827

'Average reading score: '

81.87784018381414

In [5]:
## Calculate the percentage of students who passed the math exam (math scores greather than or equal to 70)
passMathDF = schoolStuMerge.loc[schoolStuMerge["math_score"] >=70]
passMathCount = len(passMathDF)
passMathPct = passMathCount / studentCount * 100
passMathPct

74.9808526933878

In [6]:
## Calculate the percentage of students who passed the reading exam (score of 70 or higher)
passReadingDF = schoolStuMerge.loc[schoolStuMerge["reading_score"] >= 70]
passReadingCount = len(passReadingDF)
passReadingPct = passReadingCount / studentCount * 100
passReadingPct

85.80546336482001

In [7]:
## Calculate the percentage of students who passed both exams (both scores are 70 or higher)
passBothDF = schoolStuMerge.loc[(schoolStuMerge["math_score"] >= 70) & (schoolStuMerge["reading_score"] >= 70)]
passBothCount = len(passBothDF)
passBothPct = passBothCount / studentCount * 100
passBothPct

65.17232575950983

In [8]:
## Create a data frame for the district summary
metrics = [{"Total Schools":schoolCount,"Total Students":studentCount,"Total Budget":budgetTotal,
            "Average Math Score":mathScoreAvg,"Average Reading Score":readingScoreAvg,
           "% Passing Math":passMathPct,"% Passing Reading":passReadingPct,"% Overall Passing":passBothPct}]

districtSummary = pd.DataFrame(metrics)
districtSummary["Total Students"] = districtSummary["Total Students"].map("{:,}".format)
districtSummary["Total Budget"] = districtSummary["Total Budget"].map("${:,.2f}".format)

districtSummary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [9]:
# Use the code provided to select the school type
schoolTypes = schoolData.set_index(["school_name"])["type"]

In [10]:
## calculate the student population for each school
perSchoolCount = schoolStuMerge.groupby("school_name").count()["student_name"]
perSchoolCount

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [11]:
## calculate the budget and per capita spending for each school
perSchoolBudget = schoolStuMerge.groupby(["school_name"]).mean()["budget"]
perSchoolCapita = perSchoolBudget / perSchoolCount

perSchoolDF = pd.concat([perSchoolBudget,perSchoolCapita],axis="columns")
perSchoolDF.rename(columns={"budget":"Budget",0:"Per Capita Spending"},inplace=True)
perSchoolDF

                          Budget  Per Capita Spending
school_name
Bailey High School     3124928.0                628.0
Cabrera High School    1081356.0                582.0
Figueroa High School   1884411.0                639.0
Ford High School       1763916.0                644.0
Griffin High School     917500.0                625.0
Hernandez High School  3022020.0                652.0
Holden High School      248087.0                581.0
Huang High School      1910635.0                655.0
Johnson High School    3094650.0                650.0
Pena High School        585858.0                609.0
Rodriguez High School  2547363.0                637.0
Shelton High School    1056600.0                600.0
Thomas High School     1043130.0                638.0
Wilson High School     1319574.0                578.0
Wright High School     1049400.0                583.0

In [12]:
# Calculate the average test scores
perSchoolMath = schoolStuMerge.groupby(schoolStuMerge["school_name"]).mean()["math_score"]
perSchoolReading = schoolStuMerge.groupby(schoolStuMerge["school_name"]).mean()["reading_score"]

avgScoreDF = pd.concat([perSchoolMath,perSchoolReading],axis="columns")
avgScoreDF

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

In [18]:
# Calculate the number of schools with math scores of 70 or higher
passMathSchool = avgScoreDF.loc[avgScoreDF["math_score"] >= 70]
len(passMathSchool)

15

In [19]:
# Calculate the number of schools with reading scores of 70 or higher
passReadingSchool = avgScoreDF.loc[avgScoreDF["reading_score"] >= 70]
len(passReadingSchool)

15

In [15]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passingBothSchools = schoolStuMerge[
    (schoolStuMerge["reading_score"] >= 70) & (schoolStuMerge["math_score"] >= 70)
]

In [20]:
perSchoolPassingMath = schoolStuMerge.groupby(["school_name"]).count()["student_name"] / perSchoolCount